{% extends 'base.html.twig' %}


{% block body %}


{% if products is null %}
    <div class="container rounded-top-shirts mt-5 d-flex justify-content-center">
        <p class="mb-0 text-center text-white">No results for {{ query }}</p>
    </div>
{% else %}
        <div class="container rounded-top-shirts mt-5 d-flex justify-content-center">
            <p class="mb-0 text-center text-white">Results for {{ query }}</p>
        </div>

    <div class="my-grid-container container">
        {% for product in products %}

            <div class="my-grid-item">
                <div class="my-card">
                    <a href="{{ path('app_home_show_one', {'product': product.id}) }}">
                        <img src="{{ asset(product.image) }}">
                    </a>
                    <div class="my-product-description">
                        <p>{{ product.brand }} - {{ product.price }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endif %}

{% endblock %}