<header class="container">
    <nav class="grid navigation">
        <div class="logo">Logo</div>
        <a href="{{ path('app_home') }}" class="home">Home</a>
        <a href="#" class="about">About</a>

        <form class="search" method="GET" action="{{ path('app_search') }}">
            <input type="text" autocomplete="off" name="query" placeholder="Search for a product">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        {% if app.user %}
            <a href="{{ path('app_cart') }}" class="cart">Cart</a>
            <a href="#" class="your-account">Your Account</a>
            <a href="{{ path('app_logout') }}" class="logout-nav">Logout</a>
        {% else %}
            <a href="{{ path('app_register') }}" class="register">Register</a>
            <a href="{{ path('app_login') }}" class="login">Login</a>
        {% endif %}
    </nav>

    <!-- Przycisk hamburgera -->
    <button id="list" class="nav-toggle mr-5" aria-label="Toggle navigation">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
</header>
